// BASE COLORS

:root {

   --color-white-1: 255, 255, 255; 
   --color-white-2: 226, 232, 240;

   --color-gray-1: 28, 30, 33; // primary #1c1e21
   --color-gray-2: 47, 49, 54; // tertiary 
   --color-gray-3: 30, 32, 35; // contrast
   --color-gray-4: 35, 37, 41; // new
   
   --color-gray-light: 44, 46, 51;
   --color-gray-dark: 24, 25, 28; // secondary
   
   --color-featured: 50, 53, 59;
   --color-purple-1: 147, 112, 219; // purple-primary #9370DB
   
}


// BASE SIZES


:root {

   --sidebar-width: 13.5rem;
   --main-util-width: 65%;
   --secondary-util-width: 35%;

   --navbar-util-height: 4rem;
   --message-card-height: 6.25rem;
   --community-card-height: 4.8rem;

   --side-padding: 30px;
   --container-spacing: 2rem;

   // secondary

   --dropdown-width: 450px;
   --dropdown-height: 150px;
   --dropdown-content-height: calc(var(--card-sm-height) + var(--card-lg-height) + 30px);
   --card-sm-height: 33px;
   --card-lg-height: 56px;

}

// TYPOGRAPHY

:root {

   --l-height: 1.5;
   --l-height-sm: 1.25;
   --l-height-lg: 1.75;

   --heading-shadow: 2px 2px 4px rgb(0, 0, 0);
   --subheading-shadow: 2px 2px 2px rgb(0, 0, 0); 
}


// OTHER

:root {

   --avatar-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
   --card-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
   --card-shadow-hover: 0 0 12px 0 rgba(0, 0, 0, .3);

}