@import '_vars';
@import '_extensions';
@import '_mixins';


// MAJOR UTILITY STYLING

body {
   font-family: 'Poppins', sans-serif;
}

button {
   &:focus, &:active {
      outline: none;
   }
}

.vs-button {
   margin: 0 !important;
}

.main-util {
   // background-color: rgba(var(--color-gray-3), 1);
   background-color: rgba(var(--color-gray-1), 1);

   *::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background-color: transparent;
   }

   *::-webkit-scrollbar-track {
      background-color: transparent;
   }

   *::-webkit-scrollbar-thumb {
      background-color: rgba(var(--color-white-2), .5);
      border-radius: 2px;
   }

   > .container-util {
      height: 100%;
      margin-left: var(--sidebar-width);
   }
}


// TRANSITIONING


.slide-collapse-enter-active, .slide-collapse-leave-active,
.fade-enter-active, .fade-leave-active {
   transition: all .35s ease-in;
}


.slide-collapse-enter-to, .slide-collapse-leave {
   transform: translateX(0);
}

.slide-collapse-enter, .slide-collapse-leave-to {
   transform: translateX(100%)
}


.slide-fade-enter-active, .slide-fade-leave-active {
   transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
   transform: translateY(95%);
   opacity: 0;
}


.fade-enter-to, .fade-leave {
   opacity: 1;
}

.fade-enter, .fade-leave-to {
   opacity: 0;
}