@import '_vars';
@import '_extensions';
@import '_mixins';


// BUTTON STYLING -- OVERRIDING

.shadow-button {
   background-color: rgba(var(--color-gray-1), 1) !important;
   color: white !important;

   &:hover {
      box-shadow: 0 8px 25px 0 rgba(0, 0, 0, .75) !important;
   }
}


// INPUT STYLING -- OVERRIDING

.vs-input-content .vs-input__icon, input, textarea, 
.vs-select__input, .vs-select__chips, .vs-select__options, .vs-select__option {
   background-color: rgba(var(--color-gray-1), 1) !important;
}

.vs-input-parent, .vs-input {
   width: 100% !important;
}

// .vs-input-parent--border .vs-input-content .vs-input__affects__1 {
//    border-bottom-color: rgba(var(--color-white-2), .8) !important;
// }

input {

   &:focus & ~ .vs-input__label, .vs-select__label,
   &:focus ~ .vs-input__icon > svg, &:focus ~ .vs-input__icon > span,
   &:active ~ .vs-input__icon > svg, &:active ~ .vs-input__icon > span {
      color: rgba(var(--color-purple-1), 1)!important;
   } 

   ~ .vs-input__label {
      color: rgba(var(--color-white-2), 1) !important;
   }

}

input, textarea  {
   white-space: pre-wrap !important;
   overflow-wrap: break-words !important;

   color: rgba(var(--color-white-1), .5) !important;
   &:focus, &:active {
      color: rgba(var(--color-white-1), 1) !important;
   }
}

// AVATAR STYLING -- OVERRIDING


.vs-avatar {
   -webkit-box-shadow: var(--avatar-shadow) !important;
   box-shadow: var(--avatar-shadow) !important;
   background: transparent !important;

   &:hover, &:focus, &:active {
      -webkit-box-shadow: var(--avatar-shadow) !important;
      box-shadow: var(--avatar-shadow) !important;
   }

   &-content.history .vs-avatar {
      border: 2px solid rgba(var(--color-gray-light), 1) !important;
   }
}

.info-section {
   .vs-avatar {
      background: rgba(var(--color-gray-3), 1) !important;
      box-shadow: none !important;
   }
   .vs-avatar-content {
      background: rgba(var(--color-gray-3), 1) !important;
   }
}

.navbar-util {
   .vs-avatar ~ .vs-avatar__badge {
      border-color: rgba(var(--color-gray-3), 1) !important;
   }
}

.message-card .vs-avatar {
   ~ .vs-avatar__badge {
      border-color: rgba(var(--color-gray-light), 1) !important;
   }
}

